<div class="sideBar">
  <div class="sideBtn" (click)="changeEditOn()">
    <span class="material-symbols-outlined" style="font-size: 44px;">power_settings_new</span>
    <p>Manuelle Steuerung</p>
  </div>
  <div class="sideBtn" click="importBtn()">
    <span class="material-symbols-outlined" style="font-size: 44px;">power_settings_new</span>
    <p>Action hinzufügen</p>
  </div>
  <div class="sideBtn">
    <span class="material-symbols-outlined" style="font-size: 44px;">power_settings_new</span>
    <p>Action hinzufügen</p>
  </div>
</div>
