<div class="header">
  <div class="col-50 header headerL">
    <div class="row">
      <div class="col-5"></div>
      <div class="col-25">
        <img class="sideLogo" src="assets/neo_head.svg">
      </div>
      <div class="col-50">
        <div class="sideTitle">{{ title }}</div>
      </div>
      <div class="col-20"></div>
    </div>
  </div>
  <div class="col-50 header headerR">
    <div class="row">
      <div class="col-5"></div>
      <div class="col-20">
        <div class="volumeCtrl">
          <span (click)="volUp()" class="material-symbols-outlined volumeButton">volume_down</span>
          <div class="volumeCtrlText">{{ volume }}</div>
          <span (click)="volDown()" class="material-symbols-outlined volumeButton">volume_up</span>
        </div>
      </div>
      <div class="col-5"></div>
      <div class="col-25">
        <div class="row">
          <span *ngIf="false" class="material-symbols-outlined batterySymbol batterySymbol-000" style="color: red;">battery_horiz_000</span>
          <span *ngIf="false" class="material-symbols-outlined batterySymbol batterySymbol-050" style="color: green;">battery_horiz_050</span>
          <span class="material-symbols-outlined batterySymbol batterySymbol-100" style="color: green;">battery_full_alt</span>
          <div class="batteryTxt">{{ charge }} %</div>
        </div>
      </div>
      <div class="col-5"></div>
      <div class="col-10">
        <span (click)="stop()" class="material-symbols-outlined headerButtonCircled stopBtn">cancel</span>
      </div>
      <div class="col-2-5"></div>
      <div class="col-10">
        <span (click)="restart()" class="material-symbols-outlined headerButtonCircled restartBtn">refresh</span>
      </div>
      <div class="col-2-5"></div>
      <div class="col-10">
        <span (click)="shutdown()" class="material-symbols-outlined headerButtonCircled shutdownBtn">power_settings_new</span>
      </div>
      <div class="col-5"></div>
    </div>
  </div>
</div>


