.btnGrid {
  margin-top: 30px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  height: 100%;
}
.btnCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkgray;
  width: 100%;
  min-height: 120px;
  min-width: 180px;
  height: 100%;
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 32px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.cardBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 36px;
}
.cardBtn:hover {
  cursor: default;
}
.btnCardTitle {
  font-size: 28px;
}
.addCard {
  background-color: green;
  opacity: 1;
  animation-name: addCardAnimation;
  animation-duration: 0.4s;
}
.deleteBtn {
  background-color: red;
  position: relative;
  top: -28px;
  left: -16px;
  width: 32px;
  height: 32px;
  font-size: 30px;
  animation-name: deleteBtnAnimation;
  animation-duration: 0.2s;
}
.confBtn {
  background-color: darkblue;
  font-size: 28px;
}
.infoBtn {
  background-color: darkgoldenrod;
}
.playBtn {
  background-color: green;
}
.addBtn {
  font-size: 60px;
}

@keyframes deleteBtnAnimation {
  from {
    width: 1px;
    height: 1px;
    font-size: 1px;
  }
  to {
    width: 32px;
    height: 32px;
    font-size: 30px;
  }
}
@keyframes addCardAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
