<div class="content"></div>
<app-header></app-header>
<div class="row-start">
  <div class="col-5"></div>
  <div class="col-80">
    <app-function-view [editOn]="editOn" (openModal)="openModal()"></app-function-view>
  </div>
  <div class="col-10">
    <app-side-bar (changeEdit)="changeEditOn()"></app-side-bar>
  </div>
  <div class="col-5"></div>
</div>
<app-modal-view *ngIf="modalOpen" (closeModal)="closeModal()"></app-modal-view>
<app-connect-screen *ngIf="!connected" (reconnect)="reconnect()"></app-connect-screen>
<app-footer></app-footer>
